* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(215, 202, 184);
    position: relative;
}
.box{
    background-color: rgb(255, 255, 255);
    height: 1000px;
    width: 1200px;  
    margin-left: 150px;
    font-family: "Poppins", sans-serif;
}
.block_img{
    position: absolute;
    background: fixed;
    width: 350px;
    height: 500px;
    border: 3px solid #ffffff;
    margin-top: 100px;
    left: 200px;
}
.block-1_box{
    position: absolute;
    background: fixed;
    width: 450px;
    height: 200px;
    background-color: #e4e4e4;
    margin-top: 150px;
    left: 150px;
}
.block-1_box_text{
    font-family: "Poppins", sans-serif;    
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.block-1_box_text2{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-align: center;
}





.block-1_box2{
    position: absolute;
    background: fixed;
    width: 450px;
    height: 500px;
    background-color: #e4e4e4;
    margin-top: 400px;
    left: 150px;
}
.block-1_box2_text{
    font-family: "Poppins", sans-serif;    
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.block-1_box2_text2{
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-align: center;
}
.box_number {
    height: 70px;
    display: flex;
    border-bottom: 3px solid #ffffff;
    padding: 23px 50px;
} 
.number-img {
    width: 30px;
    height: 30px;
}
.number {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    padding: 2px 10px;
}
.box_mail {
    height: 70px;
    display: flex;
    border-bottom: 3px solid #ffffff;
    padding: 23px 50px;
}
.number-mail {
    width: 30px;
    height: 30px;
}
.mail {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    padding: 2px 10px;
}
.box_skills {
    height: 70px;
    padding: 23px 50px;
}
.title-skills {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    border-bottom: 5px solid #666666;
}
.text-skills {
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
}
.text-skills2{
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
}
.block-2 {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.profile {
    width: 500px;
    margin-top: 100px;
    margin-right: 150px;
}
.profile-title {
    font-size: 50px;
}
.profile-text {
    margin-top: 40px;
    font-size: 18px;
    color: #666666;
}
.pod{
    width: 50px;
    height: 7px;
    background-color: black;
    margin-top: 5px;
}
.osvita-text {
    margin-top: 10px;
    font-size: 18px;
    color: #666666;
}